@import "./src/sass/variables";

:host {
    @include navBar(column);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    /*box-shadow: 0 5px 10px rgba(0,0,0,1), 0 15px 40px rgba(0,0,0,0.2);*/
    box-shadow: 0 4px 24px rgba(61,64,71,.2);
    width: 560px;
    padding: 30px 30px 15px 30px;
    height: auto;
    animation: right 300ms ease 1;
    z-index: 20;
    //@keyframes right {
    //  from {
    //    transform: translateX(0);
    //  }
    //  to {
    //    transform: translateX(520);
    //  }
    //}
}
button {outline: none;}
a {text-decoration: none; color: $text-on-white-spice;}
.separator {
  width:100%;
  border-bottom: 1px solid rgba(0,0,0,0.25);
  margin-top: 10px;
  margin-bottom: 15px;
}
.convict-box {
  @include navBar(column);
  height: 100%;
  width: 100%;
  justify-content: flex-end;
  font-size: 1.6rem;
  color: $text-on-white-spice;
  h3 {
    font-size: 3rem;
  }
  h4{
    font-size: 2.2rem;
    font-weight: 400;
  }
  img {
    border-radius: 2%;
  }
  &-price {
    @include navBar(row);
    align-items: center;
    justify-content: space-between;
  }
  &-description {
    margin-top: 15px;
    font-size: 1.8rem;

  }
}
.cta-box {
  margin-top: auto;
  font-size: 2.0rem;

  &-savings span {
    color: $freshest-olive;
    font-weight: 700;
  }
}

.discount-box {
  @include navBar(row);
  justify-content: space-between;
  span {
    margin-right: 10px;
  }
  .previous-price {
    text-decoration: line-through;
    color: #777C83;
  }
  .discount-percentage {
    color: $freshest-olive;
    font-weight: 700;
  }
}

.button-box {
  margin-top:10px;
  justify-self: end;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  & button {
    border: 1px solid transparent;
    border-radius: 25px;
    font-size: 1.9rem;
    padding: 5px 20px;
  }
  button:first-child {
    background-color: $text-on-primary;
    color: $brand-primary;
    &:hover {
      background-color: $strong-peach;
      transition: 500ms ease;
    }
  }
  button:nth-child(2) {
    background-color: $brand-primary;
    color: $text-on-primary;
    &:hover {
      background-color: $strong-brand;
      transition: 500ms ease;
    }
  }
}

