@import "./src/sass/variables";
//@media #{$mobile} {}
//@media #{$mobile-open} {}
:host {@include navBar(column);position: fixed;bottom: 0;z-index: 20;
    background-color: white;box-shadow: 0 4px 24px rgba(61,64,71,.2);
    padding: 30px 30px 15px 30px;height: auto;
    animation: right 300ms ease 1;
    @media #{$mobile} {width: 85vw;right: -360px; top: 128px}
    @media #{$mobile-open} {width: 560px;right: -560px; top: 0;}
}
.separator {width:100%;border-bottom: 1px solid rgba(0,0,0,0.25);margin-top: 10px;margin-bottom: 15px;}
.deal { display: grid;
  grid-template-areas: "roof roof roof"
                       "img img img"
                       "desc desc desc"
                       ". . ."
                       "cta cta cta"
                       "btn-box btn-box btn-box";
  height: 100%;
  width: 100%;
  color: $text-on-white;
  &-roof {grid-area: roof; @include navBar(column);
    .deal-back-btn {font-size: 14rem;}
    .deal-merchant-name {@media #{$mobile} {font-size: 16rem} @media #{$mobile-open} {font-size: 16rem; font-weight: 400;}}
    .deal-reviews {font-size: 14rem; padding: 3px 0;}
    .deal-address {padding: 3px 0;
      @media #{$mobile} {font-size: 14rem}
      @media #{$mobile-open} {font-size: 14rem;}}
    .deal-title {padding: 3px 0;
      @media #{$mobile} {font-size: 14rem}
      @media #{$mobile-open} {font-size: 14rem;}}
  }

  &-image {grid-area: img; border-radius: 2%;}

  &-price {@include navBar(row);align-items: center;justify-content: space-between;}
  &-description {grid-area:desc;margin-top: 15px;
    @media #{$mobile} {font-size: 14rem;}
    @media #{$mobile-open} {font-size: 14rem;}
  }
}
.cta {grid-area: cta; display: grid;

  @media #{$mobile} { grid-template-areas: "disc sav"
                                           "cart buy";
    font-size: 14rem;
  }
  @media #{$mobile-open} {grid-template-areas: "disc disc disc . sav"
                                               "cart cart cart . buy";
    font-size: 16rem;
  }
  &-discount {grid-area: disc;
    @include navBar(row);
    span {margin-right: 10px;}
    @media #{$mobile} {justify-content: center;}
    @media #{$mobile-open} { justify-content: space-between;}
  }
  &-value {
    @media #{$mobile} {grid-area: disc;}
    @media #{$mobile-open} {grid-area: disc;}
    text-decoration: line-through;color: #777C83;}
  &-savings {grid-area: sav;
    @media #{$mobile} {justify-self: flex-end;}
    span {
      color: $freshest-olive;
      font-weight: 700;
    }
  }
  &-percentage { color: $freshest-olive;font-weight: 700;}

}


button {border: 1px solid transparent;border-radius: 25px;
  padding: 5px 20px; width: 120px;
  @media #{$mobile} {font-size: 13rem;}
  @media #{$mobile-open} {font-size: 19rem; width: 180px;}
}
.btn-cart {grid-area: cart; justify-self: flex-start; background-color: $text-on-primary;color: $brand-primary;
  &:hover {background-color: $strong-peach;transition: 500ms ease;}
}
.btn-buy {grid-area: buy; justify-self: flex-end;  background-color: $brand-primary;color: $text-on-primary;
  &:hover {background-color: $brand-strong;transition: 500ms ease;}
}
