<div *ngIf="this.deal != null" class="deal">
  <section class="deal-roof">
      <a class="deal-back-btn" href="#" (click)="closeConvict()">< Continue Shopping</a>
      <div class="separator"></div>
      <h3 class="deal-merchant-name">{{deal.merchant.name}}</h3>
      <span class="deal-reviews">*****</span>
      <span class="deal-address">{{deal.merchant.address}}</span>
      <span class="deal-title">
      {{ isDealTitleTooLong() ? (deal.shortTitle |
        slice:0:35) + '...' : (deal.shortTitle)}}
      </span>
  </section>
  <img class="deal-image" [src]="deal.imageUrl + this.pictureApiParams" alt="">
<!--  <img class="deal-image" [src]="'https://via.placeholder.com/520x300'" alt="">-->
  <p class="deal-description">
    {{ isDealDescriptionTooLong() ? (deal.description |
    slice:0: this.descriptionCharLimit)+'...':(deal.description)}}
  </p>

  <div class="cta">

    <div class="cta-discount">
      <span class="cta-value">${{deal.value}}</span>
      <span>${{deal.price}}</span><span class="cta-percentage">{{this.couponUtility.formatPercentage(deal)}} OFF</span>
    </div>
    <div class="cta-savings">You've Saved:
    <span>$ {{ truncateSavings() }}</span></div>

    <button class="btn-cart">Add to Cart</button>
    <button class="btn-buy" (click)="goToMerchant()" >Get Coupon!</button>

  </div>
</div>
