<app-test-cmp></app-test-cmp>
<app-suspect></app-suspect>
<nav id="bootstrap-override" class="navbar navbar-light mat-typography">
  <ul class="nav navbar-nav">

    <li class="nav-item">
      <a>Things To Do<i class="fas fa-smile-wink fa-lg"></i></a>
    </li>

    <li class="nav-item">
      <a>Best Value<i class="fas fa-thumbs-up fa-lg"></i>
      </a>
    </li>

    <li class="nav-item">
      <a>Most Loved<i class="fas fa-heart fa-lg"></i></a>
    </li>

    <li class="nav-item">
      <a>See Everything!<i class="fas fa-infinity fa-lg"></i></a>
    </li>
  </ul>
</nav>
<app-suspect></app-suspect>
