<nav  id="bootstrap-override" class="navbar navbar-light">
  <ul class="nav navbar-nav">

    <li class="nav-item">
      <a>Things To Do
        <i class="fa fa-smile-o fa-lg"></i>
      </a>
    </li>

    <li class="nav-item">
      <a>Best Value
        <i class="fa fa-thumbs-o-up fa-lg"></i>
      </a>
    </li>

    <li class="nav-item">
      <a>Most Loved
        <i class="fa fa-heart fa-lg"></i>
      </a>
    </li>
    <li class="nav-item">
      <a>Browse Everything
        <i class="fa fa-infinity fa-lg"></i>
      </a>
    </li>
  </ul>
</nav>
