:host {
    flex:60;
    background-color: #f8f8f8;
}
#bootstrap-override {
  padding: 0;
}
#bootstrap-override ul {
  display: flex;
  flex-direction: row;
  width: 100%;
}
nav li {
  background-color: var(--freshest-olive);
  flex: 1;
}
