@import "./src/sass/variables";

:host {
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: $lightest-grey;
    align-items: center;
    //box-shadow: inset 0 0 3px;
    //position: fixed;
    //left: 0;
}
#bootstrap-override {
  @include navBar(column);
  align-items: center;
  li {
    color: $text-on-white;
    margin: 0.4rem;
  }
  a{
    font-size: 3rem;
  }
  :hover {
    color: $brand-primary;
  }
  #dollar-shame {
    font-size: 3.7rem;
  }

}
