@import "./src/sass/variables";

:host {
    flex: 3;
    background-color: $lightest-grey;
    align-items: center;
    //box-shadow: inset 0 0 3px;

}
#bootstrap-override {
  @include navBar(column);
  align-items: center;
  li {
    color: $fresh-olive;
    margin: 4px;
  }
  a{
    font-size: 3rem;
  }
  :hover {
    color: $freshest-olive;
  }
  #dollar-shame {
    font-size: 3.7rem;

  }
}
