:host {
    flex: 3;
    background-color: var(--primary-grey);
    align-items: center;
}
#bootstrap-override {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#bootstrap-override li {
  margin: 8px;
  justify-content: center;
}
