@import "./src/sass/variables";

:host {
  flex: 1;
  display: grid;
  grid-template-rows: 61.25px 1fr;
  grid-template-columns: 61.75px 1fr;
  min-height: 100%;
}
.body-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 11;
  opacity: 0;
  visibility: hidden;
  background-color: transparent;
}

