@import "./src/sass/variables";

:host {
  flex: 1;
  display: grid;
  grid-template-rows: 61.25px 1fr;
  grid-template-columns: 61.75px 1fr;
  min-height: 100%;
}


.overlay {
  //grid-area: 1/1;
}

