@import "src/sass/variables";

:host {@include navBar(column);height: 335px;width: 319px;
  box-shadow: $dp1;color: hsla(0, 0%, 15%, 0.9);overflow: hidden;
  animation: 2s ease-in;cursor: pointer;
  &:hover {transform: translateY(-2.5px);transition: 0.4s ease 100ms;}
}
.img-box {flex: 188;max-height:188px;
  img {height: auto;border-radius: 2%;}}

.coupon {@include navBar(column); flex: 148; justify-content: space-between;
  text-overflow: '';white-space: nowrap;padding: 3px 10px;
  &-merchant-name {
    grid-row: 1;width: 300px;
    color: hsla(0, 0%, 15%, 0.9);
    text-overflow: ellipsis;white-space: nowrap;overflow: hidden;margin: 0;
    @media #{$mobile} {font-size: 16rem;}
    @media #{$mobile-open} {font-size: 16rem;}
  }
  i {color: yellow;}

  .coupon-rating {
    grid-row: 2;
    justify-content: start;
    vertical-align: top;
    .rating-amount {
      display: inline;
      line-height: 24px;
      margin-left: 10px;
    }
    //@media #{$mobile} {display: none;}
  }
  &-address {grid-row: 3;
    @media #{$mobile} {font-size: 14rem;}
    @media #{$mobile-open} {font-size: 14rem;}
  }
  #offering-label {
    color: $primary-olive;
    box-shadow: 0 0 2.5px rgba(0, 0, 0, 0.15);
    width: 200px;
    height: 35px;
    font-size: 1.0rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.deal-cta-discount {
  grid-row: 4;
  margin-top: -20px;
  display: flex;
  align-items: center;
  justify-items: start;
  & > *:not(:first-child)  {
    margin-left: 8px;
  }


}
.coupon-price { display: flex; align-items: center;
  @media #{$mobile} {font-size: 14rem;}
  @media #{$mobile-open} {font-size: 14rem;}
  &-value {text-decoration: line-through;color: rgba(0,0,0,0.5);font-weight: 700;}
  &-cost {color:$fresh-olive;font-weight: 700; margin-left: 12px;}
  &-percentage {display: flex;align-items: center; margin-left: 12px;
    background-color: $faded-green;color: $primary-olive;border-radius: 4px;
    white-space: nowrap;
    div {font-weight: bold;font-size: 14rem;}
  }
}
#offering {font-size: 14rem;}

$ratingSize: 125px;
.star-rating {
  height: ($ratingSize/5);
  position: relative;
  width: $ratingSize;
  &:before { // inactive
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjAiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgNTAgNTAiIGZpbGw9IiM3ZjhjOGQiID4gICAgPHBhdGggZD0iTSAyNSAyLjI3MzQzNzUgTCAxOC42MDkzNzUgMTguNDgwNDY5IEwgMC44MTA1NDY4OCAxOS40MTc5NjkgTCAxNC42NDg0MzggMzAuNDEyMTA5IEwgMTAuMDcwMzEyIDQ3LjIyMjY1NiBMIDI1IDM3Ljc3MTQ4NCBMIDM5LjkyOTY4OCA0Ny4yMjI2NTYgTCAzNS4zNTE1NjIgMzAuNDEyMTA5IEwgNDkuMTg5NDUzIDE5LjQxNzk2OSBMIDMxLjM5MDYyNSAxOC40ODA0NjkgTCAyNSAyLjI3MzQzNzUgeiI+PC9wYXRoPjwvc3ZnPg==");
    background-repeat: repeat-x;
    background-size: ($ratingSize/5);
    bottom: 0;
    content: "";
    display: block;
    height: ($ratingSize/5);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: $ratingSize;
  }
  > span {
    display: block;
    text-indent: -10000px;
    width: $ratingSize;
    height: ($ratingSize/5);
    position: absolute;
    overflow: hidden;
    &:before { // active
      background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjAiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgNTAgNTAiIGZpbGw9IiNmMWM0MGYiID4gICAgPHBhdGggZD0iTSAyNSAyLjI3MzQzNzUgTCAxOC42MDkzNzUgMTguNDgwNDY5IEwgMC44MTA1NDY4OCAxOS40MTc5NjkgTCAxNC42NDg0MzggMzAuNDEyMTA5IEwgMTAuMDcwMzEyIDQ3LjIyMjY1NiBMIDI1IDM3Ljc3MTQ4NCBMIDM5LjkyOTY4OCA0Ny4yMjI2NTYgTCAzNS4zNTE1NjIgMzAuNDEyMTA5IEwgNDkuMTg5NDUzIDE5LjQxNzk2OSBMIDMxLjM5MDYyNSAxOC40ODA0NjkgTCAyNSAyLjI3MzQzNzUgeiI+PC9wYXRoPjwvc3ZnPg==");
      background-repeat: repeat-x;
      background-size: ($ratingSize/5);
      bottom: 0;
      content: "";
      display: block;
      height:($ratingSize/5);
      left: 0;
      position: absolute;
      right: 0;
      text-indent: 10000px;
      top: 0;
    }
  }
}
