<div class="img-box">
  <img [src]="deal.imageUrl + param">
</div>

<div class="coupon-details">
  <h6 class="merchant-name">{{deal.merchant.name}}</h6>

  <div class="merchant-name rating-box">
    <div class="star-rating">
      <span style="width: 85%"></span>
    </div>
<!--    <span class="rating-amount">({{deal.reviewCount}})</span>-->
  </div>

  <div id="discount-box" class="merchant-name">
    <span id="original-price">${{deal.value}}</span>
    <span id="discounted-price">${{deal.price}}</span>
    <div id="discount-percentage">
      <div>{{formatNumber()}} OFF</div>
    </div>
    <button id="get-coupon-btn" class="btn btn-primary">
      Get Coupon
    </button>
  </div>
</div>

  <!--  Offering with CTA on mouse hover in right-->
