<div class="img-box">
  <img [src]="deal.imageUrl + param">
</div>

<div class="coupon-details">

  <h3 class="merchant-name">{{deal.merchant.name}}</h3>
<!--  Rating-->
  <div class="rating-box">
    <div class="star-rating">
      <span [ngStyle]="{'width': 50% + 1}"></span>
    </div>

  </div>
<!--  location-->
  <div class="merchant-location">
    <span>{{deal.merchant.address}}</span>
  </div>
<!--  Price Information-->
  <div class="discount-box">
    <span class="original-price">${{deal.value}}</span>
    <span class="discounted-price">${{deal.price}}</span>
    <div class="discount-percentage">
      <div>{{formatNumber()}} OFF</div>
    </div>
  </div>
  <div id="offering-box">
    <span>{{(deal.shortTitle.length>30)? (deal.shortTitle |
             slice:0:35)+'...':(deal.shortTitle)}}</span>
  </div>

</div>

  <!--  Offering with CTA on mouse hover in right-->
