<!--<div class="img-box"><img [src]="deal.imageUrl + param"></div>-->
<div class="img-box"><img [src]="'https://via.placeholder.com/319x188'"></div>
<div class="coupon">
  <h3 class="coupon-merchant-name">{{deal.merchant.name}}</h3>
  <div class="coupon-rating">
    <div class="star-rating"><span [ngStyle]="{'width': 50% + 1}"></span></div>
  </div>
  <div class="coupon-address"><span>{{deal.merchant.address}}</span></div>
  <div class="coupon-price">
    <span class="coupon-price-value">${{deal.value}}</span>
    <span class="coupon-price-cost">${{deal.price}}</span>
    <div class="coupon-price-percentage"><span>{{_couponUtility.formatPercentage(deal)}} OFF</span></div>
  </div>
  <div id="offering">
    <span>{{(deal.shortTitle.length>30)? (deal.shortTitle |
             slice:0:35)+'...':(deal.shortTitle)}}</span>
  </div>
</div>
