@import "src/sass/variables";

:host {
  height: 100%;
  grid-column: 2/3;
  grid-row: 2/3;
  box-shadow: inset 0px 0 5px rgba(0,0,0,0.15);
  background-color: $light-grey;
  padding: 5px 15px;
}

#suspect-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(auto-fill, 1fr);
  grid-column-gap: 1.5rem;
  grid-row-gap: 2rem;
}
