<nav id="lineup-toolbar" class="mat-typography">
  <div>
    <a>Things To Do</a>
    <i class="fas fa-smile-wink fa-lg"></i>
  </div>
  <div>
    <a>Best Value</a>
    <i class="fas fa-thumbs-up fa-lg"></i>
  </div>
  <div>
    <a>Most Loved</a>
    <i class="fas fa-heart fa-lg"></i>
  </div>
  <div>
    <a>See Everything!</a>
    <i class="fas fa-infinity fa-lg"></i>
  </div>
</nav>



<button (click)="hackIt()">Pop</button>
<!--<div>-->
<!--  {{deals | json }}-->
<!--</div>-->
<div id="suspect-box" >
  <app-suspect *ngFor="let deal of deals"
               [deal]="deal">
  </app-suspect>
</div>
