@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "src/sass/variables";
html {
  //Explicitly set to browser height so all children can dynamically inherit with %
  height: 100%;
}
body {
  //Set to browser height, yet expand to include dynamic children
  min-height: 100%;
  //Overriding min height inheritance bug
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

html, body {
  font-size: 62.5%;
  font-family: Roboto, sans-serif;
  font-weight: 300;

  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}


img {
  max-width: 100%;
  display: block;
}
a {
  font-size: 1.8rem;
}


/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
