@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "src/sass/variables";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import '~@angular/material/theming';

// Normalizing
html {font-size: 1px;height: 100%;
    @media #{$HD} {font-size: 1.1px;}
    @media #{$widescreen} {font-size: 1.2px;}

}
/*Flex overrides min height bug*/
body {display: flex;flex-direction: column;min-height: 100%; font-family: "Open Sans"}
html, body {margin: 0;padding: 0;}
* {box-sizing: border-box;}
img {max-width: 100%;display: block;}
a {text-decoration: none; color: $text-on-white;}
button {outline: none;}
input {outline: none;}
::-webkit-scrollbar {
  width: 6px !important;
  height: 6px !important;
  background-color: #f5f5f5;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.08);
}
@font-face {
  font-family: "Open Sans";
  src: url(assets/fonts/open_sans_regular.ttf) format("truetype"),
       url(assets/fonts/open_sans_bold.ttf) format("truetype");
}
