@import "./src/sass/variables";

:host {
  @include navBar(row);
  flex:10;
  align-items: center;
  margin-right: 60px;
}
#sign-in-btn {
  border-radius: 4px 0px 0px 4px;
  background-color: $brand-primary;
  color: $text-on-primary;
}
#register-btn {
  border-radius: 0px 4px 4px 0px;
  border:1px solid $text-on-white;
  color: $base-grey;
}
button {
  width: 100px;
  height: 34px;
  font-size: 1.4rem;
  outline: none;
}

