<nav class="nav">
  <div class="nav-burger fas fa-bars"></div>
  <div class="nav-brand"><span class="nav-brand-logo" src="assets/logo.png"></span><a class="nav-brand-name" href="#">CouponClip</a></div>

  <form class="nav-search" [formGroup]="couponForm" (ngSubmit)="onSearchSubmit(couponForm.value)">
    <div class="nav-search-location">
      <div><i class="fas fa-map-marker-alt"></i></div>
      <input class="" formControlName="location" placeholder="City...">
    </div>
    <div class="separator"></div>
    <div class="nav-search-query">
      <input formControlName="query" type="search" placeholder="Search Anything..." aria-label="Search">
      <button class="fas fa-search" type="submit"></button>
    </div>
  </form>
</nav>
<app-user-domain></app-user-domain>
