@import "./src/sass/variables";

:host {
  flex: 10;
  background-color: $faded-grey;
}
#bootstrap-override {

  .navbar-brand {
    color: $freshest-olive;
    font-weight: bold;
    margin-left: 50px;
    font-size: 3rem;
  }
  form {

  }
  input {
    border-radius: 6px;
    height: 28px;
  }
}
